.navbar {
  position: fixed;
  width: 100%;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: black; /* Add black background when scrolled */
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container.navbar-scrolled .language-options {
  display: none; /* Hide language options when scrolled */
}

.navbar-container .nav-logo {
  display: none; /* Initially hide logo */
}

.navbar-container.navbar-scrolled .nav-logo {
  display: block;
  margin: 0 auto; /* Center logo in navbar */
}
