body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.selection {
  background-image: url('../images/img 52.jpeg');
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  min-height: 100vh; /* Ensures the section takes at least the full viewport height */
}

/* Additional media queries to improve responsiveness */
@media (max-width: 1024px) {
  .selection {
    height: 70vh;
  }
}

@media (max-width: 768px) {
  .selection {
    background-attachment: scroll; /* Allows scrolling on smaller devices for better performance */
  }
}

@media (max-width: 480px) {
  .selection {
    background-position: top; /* Adjusts the image position for smaller screens */
  }
}

.spa-section {
  text-align: center;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5) url('../images/spa-section.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  min-height: 100vh; /* Full screen height */
}

.spa-section-logo {
  text-align: center;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5) url('../images/LoagoL.png') no-repeat center center;
  background-size: cover;
  min-height: 10vh;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
  .spa-section {
    min-height: 60vh; /* 40% screen height on mobile */
  }
}

@media (max-width: 1024px) {
  .spa-section {
    min-height: 70vh; /* 40% screen height on mobile */
  }
}

@media (max-width: 480px) {
  .spa-section {
    min-height: 50vh; /* 40% screen height on mobile */
  }
}




.spa-nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.spa-nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

.mamounia-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  color: #4a4a4a;
}

.mamounia-image img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.mamounia-content {
  text-align: left;
  max-width: 600px;
  margin-top: 1rem;
}

.mamounia-content h2 {
  color: #8b0000;
  font-size: 2rem;
}

.mamounia-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #4a4a4a;
  margin: 1rem 0;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .mamounia-section {
    flex-direction: row;
    align-items: center;
  }
  
  .mamounia-content {
    margin-left: 2rem;
    text-align: left;
  }
}
