/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    overflow: hidden;
  }
  
  .app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw; /* Set to 100vw for full screen width */
    background: #ffffff;
    transition: background 1.5s ease;
  }
  
  .app-container.open {
    background: #e4ddd0;
  }
  
  .logo-container {
    position: relative;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    gap: 20px; /* Space between logo images */
  }
  
  .logo {
    width: 250px; /* Adjust the size as needed */
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .app-container.open .logo {
    opacity: 1;
    transform: scale(1);
  }
  
  .animated-logo {
    position: absolute;
    top: 100px; /* Adjust positioning as needed */
    width: 300px; /* Adjust size as needed */
    animation: text-write 5s linear infinite;
  }
  
  @keyframes text-write {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 1.5s ease;
  }
  
  .app-container.open .background {
    opacity: 1;
  }
  